<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find  ss_tool_control)/config/ss_tool_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/ss_tool" args="joint_state_controller
					  joint_index1_position_controller
					  joint_index2_position_controller
					  joint_middle1_position_controller
					  joint_middle2_position_controller
					  joint_thumb1_position_controller
					  joint_thumb2_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/ss_tool/joint_states" />
  </node>

</launch>
