<launch>

    <arg name="test" default="false"/>

    <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find dvrk_model)/model/ss_davinci.urdf.xacro'" />

<!--       send fake joint values-->
<!--  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">-->
<!--    <param name="use_gui" value="TRUE"/>-->
<!--  </node>-->

<!--   Combine joint values-->
<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>-->

  <group ns="/dvrk/ss_davinci">
      <param name="robot_description" command="rosrun xacro xacro '$(find dvrk_model)/model/ss_davinci.urdf.xacro'"/>

<!--    <param name="robot_description"-->
<!--    command="$(find xacro)/xacro &#45;&#45;inorder '$(find dvrk_model)/model/ss_davinci.urdf.xacro'" />-->
<!--    <param name="use_gui" value="true"/>-->
<!--      <param name="rate" value="100"/>-->
<!--      <rosparam param="source_list" subst_value="True">-->
<!--        [/dvrk/ss_davinci/state_joint_current]-->
<!--      </rosparam>-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg test)">
    <param name="use_gui" value="TRUE"/>
  </node>
<!--      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dvrk_model)/rviz_config/ss_davinci.rviz" if="$(arg test)" />


</launch>


